/***** Modale 1 *****/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    background-color: #fff;
    box-sizing: border-box;
    width: 630px;
    padding: 24px 40px 0 40px;
    border-radius: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 0 60px 0 60px;
}

.modal-content h3 {
    font-size: 26px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.gallery-modal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
}

.gallery-modal figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-modal i {
    width: 17px;
    height: 17px;
    line-height: 1px;
    font-size: 10px;
    background-color: black;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gallery-modal img {
    display: block;
    width: 100%;
    height: auto;
}

.btn-close-modal {
    display: flex;
    justify-content: end;
}

.btn-close-modal button {
    all: unset;    
    cursor: pointer;
    font-size: 20px;
}

.modal-content input {
	height: 40px;
    padding: auto;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
    
}

hr {
    all: unset;
    margin-top: 64px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    background-color: #B3B3B3;
}

/**** Modale 2 ****/
#modal2 .modal-window .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-close-modal2 {
    display: flex;
    justify-content: end;
}

.btn-close-modal2 button {
    all: unset;    
    cursor: pointer;
    font-size: 20px;
}

.modal-content h3 {
    text-align: center;
}

#modal2 .modal-window .head .btn-retour-modal1 {
    font-size: 20px;
    cursor: pointer;
}
.container-ajout-photo {
    width: 100%;
    height: 169px;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.container-ajout-photo i {
    margin-top: 8px;
    font-size: 68px;
    color: #B9C5CC;
}

.container-ajout-photo input {
    margin: 0;
    margin-top: 8px;
    color: #306685;
    background-color: #B9C5CC;
}

.container-ajout-photo p {
    font-size: 10px;
    margin-top: 8px;
}

#modal2 .modal-content label {
    text-align: left;
}
#modal2 .modal-content label {
	margin: 2em 0 1em 0;
}

#modal2 .modal-window .modal-content input[type="text"] {
    width: 100%;
    height: 50px;
}

#modal2 .modal-window .modal-content select {
    border: none;
    width: 100%;
    height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

#modal2 .modal-window .modal-content input[value="Valider"] {
    background-color: #A7A7A7;
}


